<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * @category    Infoplus
 * @package     Infoplus_Connector
 */
-->
<config>
   <modules>
      <Infoplus_Connector>
         <version>4.0.3</version>
      </Infoplus_Connector>
   </modules>
   <global>
      <models>
         <infoplus>
             <class>Infoplus_Connector_Model</class>
             <resourceModel>infoplus_mysql4</resourceModel>
         </infoplus>
         <infoplus_mysql4>
            <class>Infoplus_Connector_Model_Mysql4</class>
            <entities>
               <infoplus_product>
                  <table>infoplus_product</table>
               </infoplus_product>
            </entities>
         </infoplus_mysql4>
      </models>
      <helpers>
         <infoplus>
            <class>Infoplus_Connector_Helper</class>
         </infoplus>
      </helpers> 
      <resources>
         <infoplus_setup>
            <setup>
               <module>Infoplus_Connector</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </infoplus_setup>
         <infoplus_read>
            <connection>
               <use>core_read</use>
            </connection>
         </infoplus_read>
         <infoplus_write>
            <connection>
               <use>core_write</use>
            </connection>
         </infoplus_write>
      </resources>
      <blocks>
         <infoplus>
            <class>Infoplus_Connector_Block</class>
         </infoplus>
      </blocks>
      <events>
         <sales_order_place_after>
            <observers>
               <infoplus_observer>
                  <type>singleton</type>
                  <class>Infoplus_Connector_Model_Observer</class>
                  <method>post_new_order_queue_message</method>
               </infoplus_observer>
            </observers>
         </sales_order_place_after>
         <sales_order_cancel>
            <observers>
               <infoplus_observer>
                  <type>singleton</type>
                  <class>Infoplus_Connector_Model_Observer</class>
                  <method>post_cancel_order_queue_message</method>
               </infoplus_observer>
            </observers>
         </sales_order_cancel>
         <catalog_product_save_after>
            <observers>
               <infoplus_observer>
                  <type>singleton</type>
                  <class>Infoplus_Connector_Model_Observer</class>
                  <method>save_product_tab_data</method>
               </infoplus_observer>
            </observers>
         </catalog_product_save_after>
      </events>
      <models>
         <sales>
            <rewrite>
               <order>Infoplus_Connector_Sales_Model_Order</order>
               <order_invoice_api>Infoplus_Connector_Sales_Model_Order_Invoice_Api</order_invoice_api>
               <order_shipment_api>Infoplus_Connector_Sales_Model_Order_Shipment_Api</order_shipment_api>
            </rewrite>
         </sales>
         <catalog>
            <rewrite>
               <product_api>Infoplus_Connector_Catalog_Model_Product_Api</product_api>
            </rewrite>
         </catalog>
      </models>
   </global>
   <adminhtml>
      <acl>
         <resources>
            <admin>
               <children>
                  <system>
                     <children>
                        <config>
                           <children>
                              <infoplus_options>
                                 <title>Infoplus Section</title>
                              </infoplus_options>
                           </children>
                        </config>
                     </children>
                  </system>
               </children>
            </admin>
         </resources>
      </acl>
      <layout>
         <updates>
            <infoplus>
               <file>infoplus_connector.xml</file>
            </infoplus>
         </updates>
      </layout>
      <events>
         <adminhtml_widget_container_html_before>
            <observers>
                <infoplus_connector>
                    <class>Infoplus_Connector_Model_Observer</class>
                    <type>model</type>
                    <method>admin_html_widget_container_html_before</method>
                </infoplus_connector>
            </observers>
         </adminhtml_widget_container_html_before>
         <adminhtml_block_html_before>
             <observers>
                 <infoplus_connector>
                     <class>Infoplus_Connector_Model_Observer</class>
                     <type>model</type>
                     <method>admin_html_block_html_before</method>
                 </infoplus_connector>
             </observers>
         </adminhtml_block_html_before>
         <eav_collection_abstract_load_before>
             <observers>
                 <infoplus_connector>
                     <class>Infoplus_Connector_Model_Observer</class>
                     <type>model</type>
                     <method>on_eav_load_before</method>
                 </infoplus_connector>
             </observers>
         </eav_collection_abstract_load_before>
      </events>
   </adminhtml>
   <default>
      <infoplus_options>
         <infoplus_options_general>
            <infoplus_deployment_identifier>ecom9999gatewayinsurance</infoplus_deployment_identifier>
            <infoplus_test_mode>1</infoplus_test_mode>
            <infoplus_enable_address_validation>1</infoplus_enable_address_validation>
         </infoplus_options_general>
      </infoplus_options>
      <infoplus>
         <connector>
            <error_email_from_address>noreply@infopluscommerce.com</error_email_from_address>
            <error_email_to_address>tchamberlain@infopluscommerce.com</error_email_to_address>
         </connector>
      </infoplus>
   </default>
</config>
